/*variables*/
 /*estamos declarando la variable naranja y además le asigno el valor #ff9600*/
 /*root aplica a todo el html*/
:root {
    --naranja: #ff9600;
    --negro: #000000;
    --gris: #333333;
    --blanco: #ffffff;
}

*{margin:0;
padding:0;
box-sizing: border-box;}

body{
    background-color: var(--gris);
    font-family: arial, sans serif;
    background-image: url(images/pattern.jpg);
}

/**
---------------------------------------------------------------------------------------------------------
SECCION CABECERA
------------------------------------------------------------------------------------------------------------
*/

.cabecera, .contenedor {max-width:1000px;
    margin: 0 auto;
padding-bottom:16px;}

.cabecera {color: var(--naranja);
display:flex;
/* separar los elementos en horizontal */
justify-content: space-between;
/* centramos en vertical los elementos */
align-items: center;
font-size: 16px;
padding: 16px 0;}



.contenedor {
    /* aca aplicamos la variable que armamos arriba */
    background-color: var(--blanco);
}


.nav { background-color: orange;

    /* separo usando el nav asi me llevo el margen a todas las paginas */
    margin-bottom: 30px;
    
    
    }


.nav-lista {
    list-style: none;
    background-color: var (--naranja);
    display:flex;
    padding: 10px 0;
    margin-left:20px;
    text-align: center;
    
    
}

.nav-lista_item{
    padding:10px;
    
    
}

.nav a {
   
    display:block;
    color:white;
    border-right: 1px solid white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding-right: 20px;
}

.nav a:hover {
    background-color: var(--blanco);
    text-decoration: underline;
    color: var(--naranja);
}

/**
---------------------------------------------------------------------------------------------------------------
SECCION SLIDER
-------------------------------------------------------------------------------------------------------------
*/
.slider {
    

    /* a la imagen la centro como si fuera texto, pero siempre se aplica al elemento padre, en este caso .slider */
    text-align: center;
    margin-bottom: 48px;
}

/**
----------------------------------------------------------------------------------------------------------
SECCION PRINCIPAL
------------------------------------------------------------------------------------------------------------
*/
.principal {
   
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap:30px;

}

.categorias {
    margin-left: 30px;
}

.cat-title {
    margin-bottom: 10px;
}

.cat-list {
    list-style: none;
}

.cat-list a{
    
    display: block;
    text-decoration: none;
    padding: 10px;
    color: var(--negro);
}

.cat-list a:hover{
    background-color: var(--negro);
    color:white;
    text-decoration: underline;
}

.cat-list_item{
border-bottom: 1px dashed var(--negro);
}

.productos{
    background-color: teal;
}